# Here is a list of the basic package dependency of autoBioSeqpy, using
#   pip install -r requirements.txt
# or
#   pips install -r requirements.txt
# is enough
#
# But we suggest using anaconda to install the such packages, like:
#   conda install keras
# or 
#   conda install keras-gpu
# for gpu utilization

sklearn>=0.0.0

importlib-metadata>=0.0.0
Keras>=2.2.4
Keras-Applications>=1.0.7
Keras-Preprocessing>=1.0.9

tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
matplotlib>=3.0.0
